/** 
 * Файл для стилей общих элементов  
 */

/* Заголовок 1-го уровня */
.top H1, .H1 {  float:left; font-size: 18px;  }
/* Заголовок 1-го уровня с иконкой */
.top H1.icon2, .H1.icon2 { padding-left:22px; height: 30px; line-height: 30px; }

/* Стиль ссылок в заголовках */
.top H1, .H1, H1 A, .H1 A  { line-height:30px; font-family: "Trebuchet MS"; color:gray; font-size: 18px;  }