/* Box-model and font */
*{
	font-family: "Tahoma"; 
	font-size:13px;	
}

A 						{ color: black; }

HTML, BODY				{	width:100%;	height:100%; position:relative; min-width:960px; }

/* Заголовочная часть сайта */
#header 				{  white-space: nowrap; position:relative; width:100%; }