/* Список для создания формы */
.table-like-list { width:100%;  display:block; background-image:none !important; margin:0px 0px 0px 0px !important;  }

/* Группа элемента формы ( Описание, Элемент ) */
.table-like-list > li { width:100%; margin:0px 0px 5px 0px !important; padding: 0px 0px 0px 0px !important; background:none !important; min-height: 30px; }

/* Описание(название) элемента */
.table-like-list > li > label 
{ 
	display:block; /* Обязательно что бы он вытеснил все в своей строке */ 
	width:100%;    /* Обязательно что бы он вытеснил все в своей строке */	
}

/* Элемент ввода формы */
.table-like-list > li > textarea,
.table-like-list > li > input,
.table-like-list > li > select {	
	max-width:100%; 
	min-height: 18px; 
	font-weight: bold; 
	padding:5px 5px; 
}

/* 
 * Стиль для полей ввода БЕЗ вылазивания за контейнер 
 * Для этого необходимо поле ввода облачить в контейнер 
 */
.table-like-list .input-text 
{  
	border:1px solid #999;
	background-color:white;
	padding:5px 5px; 
}
/* Уберем все отступы у самого поля */
.table-like-list .input-text input,
.table-like-list .input-text textarea 
{ 
	display: block;  
	width:100%;
	padding:0;
	border-width:0; 
	border:0;
}

/* Специальный стиль для заблокированного поля */
.table-like-list .input-text.disabled, 
.table-like-list .input-text.disabled input{ background-color: #C2C2C2;  }

/* Для SELECT ширина считается иначе, попытаемся исправить */
.table-like-list select { width:100%; }

/* Пустышка строка для отступа */
.table-like-list .ttl-spacer { min-height: 5px; }

/* Классическое размещение поля формы и его описания */
.table-like-list .tll-classic { clear:both; }
.table-like-list .tll-classic label { display:block; float:left; width:auto; line-height: 30px; margin: 0px 5px 0px 5px }
.table-like-list .tll-classic label:FIRST-CHILD { margin-left:0px; }
.table-like-list .tll-classic .input-text { float:left; }