.form.user { margin-top:1em; }
.form.user-edit { margin-top:1em; }
.form A.cancel  { text-decoration: none; }

/* Стилизация колонок таблицы */
#user .table TD.fio 		{ text-align: left; }
#user .table TD.control 	{ width: 4em; }
#user .table TD.email 		{ width: 12em; text-align: left; }
#user .table TD.created		{ width: 12em; }
#user .table TD.group 		{ text-align: left;}