/* Список элементов */
.item-list { background-color: white; border:1px solid #999; box-shadow:inset 0px 0px 8px lightgray; }
.item-list { width:99.5%; padding:5px 0; }

.item-list li .icon2 { float:left; }

/* Название элемента */
.item-list li .title { padding:0px 0px 0px 3px; }

/* Строка с описанием поля в списке элементов */
.item-list li { background-image:none !important; clear:both; border-bottom:1px solid #999; line-height: 20px; padding: 0px 0px 0px 5px !important; margin: 5px !important; }

/* Сообщение об отсутствии данных в списке элементов */
.item-list li.no-data { border:0;}

/* Уберем подчеркивание с последней строки списка элементов */
.item-list li:last-child { border:0; line-height: 16px; }

/* Стиль для кнопки добавить */
.field-list .add-field-button {  background-position-x: 6%; width:95px; text-align: right; float:right; } 