/* Общий стиль для всех списков внутри дерева - выровняем все дерево */
.sjs-treeview, 
.sjs-treeview ul,
.sjs-treeview li { margin:0; padding:0; list-style: none; }

/* Стиль для элементов которые можно "развернуть" */
.sjs-treeview .collapsable { cursor:pointer; }

/* Стиль для "свернутых" элементов дерева */
.sjs-treeview .collapsed ul,
.sjs-treeview .collapsed li { display:none; }

/* Ветка дерева*/
.sjs-treeview li { 
	background: url(../img/default-line.gif) 0 0 no-repeat; 
	margin: 0;
	padding: 3px 0pt 3px 16px;	
}

/* Плюсик */
.sjs-treeview .hitarea { 
	background-image: url(../img/default.gif);
	background-repeat:no-repeat;
	
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer; 
}

/* Последняя ветка дерева */
.sjs-treeview li.last { background-position: 0 -1766px }

/* Стиль для веток дерева у которых есть дети */
.sjs-treeview  li.collapsable { background-position: 0 -176px; }

/* Последняя ветка дерева имеющая детей - уберем "тянущуюся" линию фона */
.sjs-treeview .last.collapsable { background:none; }

/* Кнопочка для сворачивания ветки дерева */
.sjs-treeview .notlast.collapsable .hitarea { background-position: -64px -25px;}
/* Кнопочка для разворачивания ветки дерева */
.sjs-treeview .notlast.collapsed .hitarea { background-position: -80px -3px; }

/* Картинка "минусик" без продолжения вниз */
.sjs-treeview .last.collapsable .hitarea { background-position: 0 -111px; }
/* Картинка "плюсик" без продолжения вниз */
.sjs-treeview .last.collapsed .hitarea { background-position: -32px -67px; }