/* Список с галереи */
.sjs-gallery ul { display: block; margin:0 auto;  }

/* Установим размер tumbnailов для галлереи, что бы она выводмлась в виде таблицы */
.sjs-gallery li,
.sjs-gallery-tn { width:210px; height:160px;  }


/* Tumbnail для картинок галереи */
.sjs-gallery li { display: block; margin:10px 10px !important;  float:left; list-style: none; text-align: center; }

/* Контейнер для отображения tumbnail'а изображения */
.sjs-gallery-tn { display: table-cell; vertical-align:middle;}
.sjs-gallery-tn img { border:5px solid white; background-color:#F0EDEE; box-shadow: 0px 0px 10px rgba(0,0,0,50); }

/* Скроем картинки галереи что бы не было мерцания */
.sjs-gallery li img { display:none; margin:0 auto; display:block; }

/* "Модальная" таблица для вывода картинки из галереи */
.sjs-gallery-wraper 
{
	position: absolute; 
	left:0px; 
	top:10%; 
	width:100%; 
	height:80%; 
	text-align: center;
	z-index:99;	 	
}

/* Центральный блок "модальной" таблицы */
.sjs-gallery-viewport 	img { display:block;  }

/* "Модальная" картинка галереи */
.sjs-gallery-image 
{ 
	border:5px solid white;
	box-shadow:0px 0px 50px black;
	display:inline !important; 	
}

/* Кнопка переключения картинок галереи */
.sjs-gallery-btn { font-size:22px; position:relative; z-index:10; padding:5px 10px; cursor:pointer; background-color:white; border: 5px solid white; }
/* Стиль при наведении на кнопку переключения */
.sjs-gallery-btn:hover { background-color: #EBEBEB; }
/* Пустышка-кнопка переключения картинок для сохранения размеров "модальной" таблицы */
.sjs-gallery-btn-empty { display:block; width:42px; height:47px; }

/* Левый блок "модальной" таблицы */
.sjs-gallery-prev-cnt { text-align:right;  }
/* Переключатель на предыдущую картинку из галереи */
.sjs-gallery-prev { box-shadow: -6px 3px 10px #636363;  margin-right:-5px;  border-right:0;}

/* Правый блок "модальной" таблицы */
.sjs-gallery-next-cnt { text-align:left;  }
/* Переключатель на следующую картинку из галереи */
.sjs-gallery-next { box-shadow: 6px 3px 10px #636363; margin-left:-5px;  border-left:0;  }

