/* File uplaoder field */
.__file_upload, .__fieldUpload
{	
	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

  position: relative;
	
	/* Input file upload */
	.__input { display:none; }
	
	/* Uploaded file name */
	.__file_name { float:left; font-size: 12px !important; text-decoration:underline; }
	
	/* Delete button */
	.__delete, .__deletefield { float:left; margin-right:5px;}
	
	/* Progressbar */
	.__progress_bar
	{
		display: none; 
		width: 100%;
		height:30px;
	}
	
	/* Progress line*/
	.__progress_bar p { display:block; height:30px; background-color:green; width:10%; }

  .__progress_text {
    position: absolute;
    color: #ffffff;
    text-align: center;
    height:30px;
    width: 100%;
    line-height: 30px;
    bottom: 0;
  }
	/* Style for empty value */
	&.empty 
	{ 
		/* Hide file value */
		.__file_name, .__delete, .__deletefield { display:none; }
		
		/* Show input file upload */
		.__input { display:block; }	
	}
	
	&.loading 
	{
		/* Hide file value */
		.__file_name, .__delete, .__deletefield { display:none; }
		
		/* Show input file upload */
		.__input { display:none; }
		
		/* Progressbar */
		.__progress_bar { display:block; }
	}
}