/** Base container class */
.scms-gallery {
	
	/* Upload list item */
	.btn-upload {
		float:left; 
		cursor:pointer; 
		display:block; 
		width:200px; 
		height:160px; 
		margin:10px; 
		border:1px dashed black; 
		line-height: 160px; 
		text-align: center;
	}
	
	/* Delete btm */
	.btn-delete { 
		&:hover { text-decoration:underline; }
	}
}

