#help { font-family: "Arial"}

#help .center-content { width:960px; margin: 0 auto; }

/* Стили для заголовков помощи */
#help h1, #help h1 a { font-size:15pt; margin: 10px 0px; text-align:left; text-indent: 0px;}
#help h2, #help h2 a { font-size:12pt; font-weight:bold; margin: 10px 0px; text-align:left; text-indent: 0px; }
#help img { margin: 0 auto; display: block; padding:20px; }