/* »конка "Ё——" */
.icon-structure { background-image: url('../img/cmsnav.png'); }

/* »конка "ѕлюсик в кружочке" */
.icon-add { background-image: url('../img/add.png'); }
.icon-add.hover,
.icon-add:hover { background-image: url('../img/add_hover.png'); }
.icon-add.active,
.icon-add:active { background-image: url('../img/add_active.png'); }

/* »конка "ѕереместить вверх в кружочке" */
.icon-moveup { background-image: url('../img/moveup.png'); }
.icon-moveup.hover,
.icon-moveup:hover { background-image: url('../img/moveup_hover.png'); }
.icon-moveup.active,
.icon-moveup:active { background-image: url('../img/moveup_active.png'); }

/* »конка "ѕереместить вниз в кружочке" */
.icon-movedown { background-image: url('../img/movedown.png'); }
.icon-movedown.hover,
.icon-movedown:hover { background-image: url('../img/movedown_hover.png'); }
.icon-movedown.active,
.icon-movedown:active { background-image: url('../img/movedown_active.png'); }

/* »конка "ƒобавить Ё——" */
.icon-add-structure { background-image: url('../img/cmsnav_add.png'); }
.icon-add-structure.hover,
.icon-add-structure:hover { background-image: url('../img/cmsnav_add_hover.png'); }
.icon-add-structure.active,
.icon-add-structure:active { background-image: url('../img/cmsnav_add_active.png'); }

/*  нопка копировать навигацию */
.icon-nav-copy { background-image: url(../img/cmsnav_copy.png); padding-left: 20px; }
.icon-nav-copy.hover,
.icon-nav-copy:hover { background-image: url(../img/cmsnav_copy_hover.png); }
.icon-nav-copy.active,
.icon-nav-copy:active { background-image: url(../img/cmsnav_copy_active.png); }

/*  нопка добавитоь навигацию */
.icon-nav-add { background-image: url(../img/cmsnav_add.png); padding-left: 20px; }
.icon-nav-add.hover, 
.icon-nav-add:hover { background-image: url(../img/cmsnav_add_h.png); }

/* »конка "ѕлюсик в кружочке" */
.icon-add { background-image: url('../img/add.png'); }
.icon-add.hover,
.icon-add:hover { background-image: url('../img/add_hover.png'); }
.icon-add.active,
.icon-add:active { background-image: url('../img/add_active.png'); }