/*  нопка формы */
.control-gradient-button { font-weight:normal; cursor:pointer;  border:1px solid #4bb11a; border-radius:2px; padding:0; margin:0; }
.control-gradient-button { color:black; text-decoration: none; height:35px; }

.control-gradient-button.save
{ 	
	background-image: linear-gradient(bottom, rgb(92,194,44) 28%, rgb(168,243,133) 57%);
	background-image: -o-linear-gradient(bottom, rgb(92,194,44) 28%, rgb(168,243,133) 57%);
	background-image: -moz-linear-gradient(bottom, rgb(92,194,44) 28%, rgb(168,243,133) 57%);
	background-image: -webkit-linear-gradient(bottom, rgb(92,194,44) 28%, rgb(168,243,133) 57%);
	background-image: -ms-linear-gradient(bottom, rgb(92,194,44) 28%, rgb(168,243,133) 57%);
	 -pie-background: linear-gradient(bottom, rgb(92,194,44) 28%, rgb(168,243,133) 57%); /*PIE*/
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.28, rgb(92,194,44)),
		color-stop(0.57, rgb(168,243,133))
	);
}

.control-gradient-button.cancel
{ 	
	border:1px solid gray;
	text-align:center;
	height:35px;
	line-height:35px;
	background-image: linear-gradient(bottom, rgb(119,119,119) 28%, rgb(188,188,188) 57%);
	background-image: -o-linear-gradient(bottom, rgb(119,119,119) 28%, rgb(188,188,188) 57%);
	background-image: -moz-linear-gradient(bottom, rgb(119,119,119) 28%, rgb(188,188,188) 57%);
	background-image: -webkit-linear-gradient(bottom, rgb(119,119,119) 28%, rgb(188,188,188) 57%);
	background-image: -ms-linear-gradient(bottom, rgb(119,119,119) 28%, rgb(188,188,188) 57%);
	 -pie-background: linear-gradient(bottom, rgb(119,119,119) 28%, rgb(188,188,188) 57%); /*PIE*/
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.28, rgb(119,119,119)),
		color-stop(0.57, rgb(188,188,188))
	);
}

.control-gradient-button:hover
{
	border:1px solid #999; 
	
	background-image: linear-gradient(bottom, rgb(211,211,211) 28%, rgb(247,247,247) 57%);
	background-image: -o-linear-gradient(bottom, rgb(211,211,211) 28%, rgb(247,247,247) 57%);
	background-image: -moz-linear-gradient(bottom, rgb(211,211,211) 28%, rgb(247,247,247) 57%);
	background-image: -webkit-linear-gradient(bottom, rgb(211,211,211) 28%, rgb(247,247,247) 57%);
	background-image: -ms-linear-gradient(bottom, rgb(211,211,211) 28%, rgb(247,247,247) 57%);
	-pie-background: linear-gradient(bottom, rgb(211,211,211) 28%, rgb(247,247,247) 57%); /*PIE*/
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.28, rgb(211,211,211)),
		color-stop(0.57, rgb(247,247,247))
	);
}