/* Табличка с перечнем элементов */
.table 	{ width:100%; margin:0 0 0px 0; clear:both;  }

/* Заголовочные ячейки таблицы */
.table TH 	{ font-size:1em; text-align:center; padding: 0.2em 0.8em;  cursor: pointer;  }
.table TH	{ background-color:#E2E2E2; color:#000; border:1px solid #c5c5c5; }
.table TH.headerAsc 	{ text-decoration: underline; }
.table TH.headerDesc 	{ text-decoration: underline; }

/* Основные ячейки таблицы */
.table TD { padding:5px 10px; border:1px solid #c5c5c5; font-size: 0.9em; text-align: center;  }

/* Раскраска строк таблицы в виде зебры */
.table TBODY TR:nth-child(even) { background-color:#F2F2F2; }
.table TBODY TR:nth-child(odd) { background-color:white; }

/* Строка с пустым результатом поиска */
.table tr.empty { display: none; }

/* Раскраска наведенной строки */
.table TBODY TR:hover TD { background-color: #FAFAC3; }

/* Ячейка с кнопками управления строкой */
.table .control { text-align: center; }
/* Кнопка в блоке управления */
.table .control a { width:18px; display: inline-block;}