/* ������ "��������" */
.icon-material { background-image: url('../img/materials.png'); }

/* ������ "�������� ��������" */
.sub_menu li .ie-css3:active {box-shadow:inset 1px 1px 4px 1px rgba(0,0,0,0.2);}
.sub_menu li .icon_add { background-image: url('../img/material_add.png'); }
.sub_menu li:hover .icon_add { background-image: url('../img/material_add_hover.png'); }
.sub_menu li:active .icon_add { background-image: url('../img/material_add_active.png'); }

/* ������ "���������� ��������" */
.icon-copy-material { background-image: url('../img/material_copy.png'); }
.icon-copy-material.hover,
.icon-copy-material:hover { background-image: url('../img/material_copy_hover.png'); }
.icon-copy-material.active,
.icon-copy-material:active { background-image: url('../img/material_copy_active.png'); }

/* ������ "������� ��������" */
.icon-delete-material { background-image: url('../img/material_delete.png'); }
.icon-delete-material.hover,
.icon-delete-material:hover { background-image: url('../img/material_delete_hover.png'); }
.icon-delete-material.active,
.icon-delete-material:active { background-image: url('../img/material_delete_active.png'); }

.icon-add-material { background-image: url('../img/material_add.png'); }
.icon-add-material.hover,
.icon-add-material:hover { background-image: url('../img/material_add_hover.png'); }
.icon-add-material.active,
.icon-add-material:active { background-image: url('../img/material_add_active.png'); }